*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  //background: black;
  //display: flex;
  //align-items: stretch;
}
#app {
  //background: green;
  display: flex;
  //flex-direction: column;
  align-items: stretch;
}
#app-fractal {
  background: #ddd;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  #app-header {
    background: #bbb;
    flex-grow: 0;
    flex-shrink: 0;
    height: 64px;
    #title {
      
    }
  }
  #app-row {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    #app-content {
      background: #333;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      #previews-container {
        background: white;
        flex-grow: 0;
        flex-shrink: 0;
        height: 128px;
        overflow-x: auto;
      }
      #main-view {
        background: black;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: auto;
      }
    }
    #app-menu {
      background: #555;
      flex-grow: 0;
      flex-shrink: 0;
      width: 384px;
    }
  }
  #app-footer {
    background: #777;
    flex-grow: 0;
    flex-shrink: 0;
    height: 32px;
  }
}
.oa-bnumberset {
  position: relative;
  display: inline-block;
  .oa-bnumbers-elements {
    display: flex;
    flex-direction: column;
  }
  .oa-bnumbers-element {
    border-radius: 0;
    &:first-of-type {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
    &:last-of-type {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}
.oa-bnumber, .oa-bnumbers-element {
  position: relative;
  display: inline-block;
  width: 128px + 64px + 2 * 24px;
  height: 24px;
  background: #bbb;
  border: 1px solid #888;
  box-shadow: inset 1px 1px 1px #888;
  border-radius: 12px;
  margin: 0;
  &:hover {
    background: #ddd;
  }
  .oa-bnumber-text {
    position: absolute;
    left: 24px;
    top: 0;
    right: 24px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    //overflow: hidden;
    //background: red;
    .oa-bnumber-label {
      line-height: 24px;
    }
    .oa-bnumber-field {
      display: block;
      flex-grow: 1;
      flex-shrink: 1;
      width: 1px;
      padding: 0;
      background: none;
      //background: rgba(blue, 0.5);
      border: none;
      //border: 2px solid green;
      line-height: 24px;
      text-align: right;
      &:focus {
        outline: none;
      }
    }
  }
  .oa-bnumber-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 24px;
    //z-index: 1;
  }
  .oa-bnumber-button {
    position: absolute;
    top: 4px - 1px;
    height: 16px + 2px;
    width: 16px;
    padding: 0;
    background: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #555;
    //z-index: 2;
    &:hover {
      border-color: #555;
    }
    &.oa-decrement-button {
      left: 4px - 1px;
    }
    &.oa-increment-button {
      right: 4px - 1px;
    }
  }
  &.oa-edit-mode {
    .oa-bnumber-overlay {
      display: none;
    }
  }
}
.ng-invalid {
  background: rgba(red, 0.25);
}
.vector-picker {
  .vector-view {
    display: block;
  }
  .vector-form {
    display: none;
  }
  &.none {
    .vector-view {
      display: block;
    }
    .vector-form {
      display: none;
    }
  }
  &.edit {
    .vector-view {
      display: none;
    }
    .vector-form {
      display: block;
    }
  }
}
.test, .test section {
  display: flex;
  flex-direction: column;
  .ng-invalid {
    background: #f88;
  }
}
.oa-blender-view {
  width: 256px;
  height: 256px;
  background: #555;
  border: 1px solid black;
}