*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background: black;
  display: flex;
  align-items: stretch; }

#app {
  background: #ddd;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  #app #app-header {
    background: #bbb;
    flex-grow: 0;
    flex-shrink: 0;
    height: 64px; }
  #app #app-row {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch; }
    #app #app-row #app-content {
      background: #333;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      #app #app-row #app-content #previews-container {
        background: white;
        flex-grow: 0;
        flex-shrink: 0;
        height: 128px;
        overflow-x: auto; }
      #app #app-row #app-content #main-view {
        background: black;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: auto; }
    #app #app-row #app-menu {
      background: #555;
      flex-grow: 0;
      flex-shrink: 0;
      width: 384px; }
  #app #app-footer {
    background: #777;
    flex-grow: 0;
    flex-shrink: 0;
    height: 32px; }

.oa-bnumberset {
  position: relative;
  display: inline-block; }
  .oa-bnumberset .oa-bnumbers-elements {
    display: flex;
    flex-direction: column; }
  .oa-bnumberset .oa-bnumbers-element {
    border-radius: 0; }
    .oa-bnumberset .oa-bnumbers-element:first-of-type {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px; }
    .oa-bnumberset .oa-bnumbers-element:last-of-type {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px; }

.oa-bnumber, .oa-bnumbers-element {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 24px;
  background: #bbb;
  border: 1px solid #888;
  box-shadow: inset 1px 1px 1px #888;
  border-radius: 12px;
  margin: 0; }
  .oa-bnumber:hover, .oa-bnumbers-element:hover {
    background: #ddd; }
  .oa-bnumber .oa-bnumber-text, .oa-bnumbers-element .oa-bnumber-text {
    position: absolute;
    left: 24px;
    top: 0;
    right: 24px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch; }
    .oa-bnumber .oa-bnumber-text .oa-bnumber-label, .oa-bnumbers-element .oa-bnumber-text .oa-bnumber-label {
      line-height: 24px; }
    .oa-bnumber .oa-bnumber-text .oa-bnumber-field, .oa-bnumbers-element .oa-bnumber-text .oa-bnumber-field {
      display: block;
      flex-grow: 1;
      flex-shrink: 1;
      width: 1px;
      padding: 0;
      background: none;
      border: none;
      line-height: 24px;
      text-align: right; }
      .oa-bnumber .oa-bnumber-text .oa-bnumber-field:focus, .oa-bnumbers-element .oa-bnumber-text .oa-bnumber-field:focus {
        outline: none; }
  .oa-bnumber .oa-bnumber-overlay, .oa-bnumbers-element .oa-bnumber-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 24px; }
  .oa-bnumber .oa-bnumber-button, .oa-bnumbers-element .oa-bnumber-button {
    position: absolute;
    top: 3px;
    height: 18px;
    width: 16px;
    padding: 0;
    background: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #555; }
    .oa-bnumber .oa-bnumber-button:hover, .oa-bnumbers-element .oa-bnumber-button:hover {
      border-color: #555; }
    .oa-bnumber .oa-bnumber-button.oa-decrement-button, .oa-bnumbers-element .oa-bnumber-button.oa-decrement-button {
      left: 3px; }
    .oa-bnumber .oa-bnumber-button.oa-increment-button, .oa-bnumbers-element .oa-bnumber-button.oa-increment-button {
      right: 3px; }
  .oa-bnumber.oa-edit-mode .oa-bnumber-overlay, .oa-bnumbers-element.oa-edit-mode .oa-bnumber-overlay {
    display: none; }

.ng-invalid {
  background: rgba(255, 0, 0, 0.25); }

.vector-picker .vector-view {
  display: block; }
.vector-picker .vector-form {
  display: none; }
.vector-picker.none .vector-view {
  display: block; }
.vector-picker.none .vector-form {
  display: none; }
.vector-picker.edit .vector-view {
  display: none; }
.vector-picker.edit .vector-form {
  display: block; }

/*# sourceMappingURL=style.css.map */
