input.ng-invalid, .input-blender.ng-invalid input {
  background: red;
}
.input-blender {
  &, & * {
    &, &::before, &::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  }
  .ib-container {
    width: 128px;
    height: 24px;
    position: relative;
    .ib-overlay {
      position: relative;
      top: -24px;
      width: 128px;
      height: 24px;
      //background: rgba(0,0,0,0.5);
    }
    .ib-input {
      width: 128px;
      height: 24px;
    }
  }
  &.ib-edit-mode {
    .ib-overlay {
      display: none;
    }
  }
}
