!!! 5
%html
%head
  %meta{charset: 'UTF-8'}
  %title Fractal Generator
  %script{src: 'js/fontawesome-all.js'}
  %link{rel: 'stylesheet', href: 'css/normalize.min.css'}
  %link{rel: 'stylesheet', href: 'css/jquery-ui.black-tie.min.css'}
  %link{rel: 'stylesheet', href: 'css/layout.css'}
%body
  = "###marker###"
  %script{src: 'js/jquery.min.js'}
  %script{src: 'js/jquery-ui.min.js'}
  %script{src: 'js/angular.js'}
  %script{src: 'js/angular-messages.js'}
  %script{src: 'js/layout.js'}
