!!! 5
%html
%head
  %meta{charset: 'UTF-8'}
  %title OAlpha GLSL Noise Demo
  %link{rel: 'stylesheet', href: 'lib/css/normalize.min.css'}
  %link{rel: 'stylesheet', href: 'oa-gl-noise.demo.min.css'}
%body
  = "###body###"
  %script{src: 'lib/js/decimal.min.js'}
  %script{src: 'lib/js/underscore-min.js'}
  %script{src: 'lib/js/angular.min.js'}
  %script{src: 'lib/js/angular-messages.min.js'}
  %script{src: 'lib/js/jquery.min.js'}
  %script{src: 'oa-object.min.js'}
  %script{src: 'oa-webgl-helpers.min.js'}
  %script{src: 'oa-gl-noise.min.js'}
  %script{src: 'oa-gl-noise.demo.min.js'}
