#app{'ng-app': 'oaGLSLNoiseCheck', 'ng-controller': 'NoiseCheckCtrl'}
  .canvas
    %h2 Sine Noise
    %canvas#sine-noise
  .canvas
    %h2 Sine 3 Noise
    %canvas#sine-3-noise
  .canvas
    %h2 Sine Gradient 2 Noise
    %canvas#sine-rot-2-noise
  .canvas
    %h2 Sine Gradient 3 Noise
    %canvas#sine-rot-3-noise
  .canvas
    %h2 Perlin 2 Noise
    %canvas#perlin-2-noise
  .canvas
    %h2 Fractal Perlin 2 Noise
    %canvas#fractal-perlin-2-noise
  .canvas
    %h2 Perlin 3 Noise
    %canvas#perlin-3-noise
  .canvas
    %h2 Fractal Perlin 3 Noise
    %canvas#fractal-perlin-3-noise
  .canvas
    %h2 Perlin 2 Gradient Noise
    %canvas#perlin-2-gradient-noise
  .canvas
    %h2 Fractal Perlin 2 Gradient Noise
    %canvas#fractal-perlin-2-gradient-noise
  .canvas
    %h2 Perlin 3 Gradient Noise
    %canvas#perlin-3-gradient-noise
  .canvas
    %h2 Fractal Perlin 3 Gradient Noise
    %canvas#fractal-perlin-3-gradient-noise
  .canvas
    %h2 Simplex 2 Noise
    %canvas#simplex-2-noise
  .canvas
    %h2 Fractal Simplex 2 Noise
    %canvas#fractal-simplex-2-noise
  .canvas
    %h2 Simplex 3 Noise
    %canvas#simplex-3-noise
  .canvas
    %h2 Fractal Simplex 3 Noise
    %canvas#fractal-simplex-3-noise
  .canvas
    %h2 Simplex 2 Gradient Noise
    %canvas#simplex-2-gradient-noise
  .canvas
    %h2 Fractal Simplex 2 Gradient Noise
    %canvas#fractal-simplex-2-gradient-noise
  .canvas
    %h2 Simplex 3 Gradient Noise
    %canvas#simplex-3-gradient-noise
  .canvas
    %h2 Fractal Simplex 3 Gradient Noise
    %canvas#fractal-simplex-3-gradient-noise