#app{'ng-app': 'oaGLSLNoiseDemo', 'ng-controller': 'NoiseTestCtrl'}
  .canvas
    %h2 Sine Noise
    %canvas#sine-noise
  .canvas
    %h2 Sine Gradient Noise
    %canvas#sine-gradient-noise
  .canvas
    %h2 Perlin Sine Noise
    %canvas#perlin-sine-noise
  .canvas
    %h2 Perlin Sine Gradient Noise
    %canvas#perlin-sine-gradient-noise
  .canvas{'ng-if': 'false'}
    %h2 Simplices
    %canvas#simplices
  .canvas
    %h2 Simplex Sine Noise
    %canvas#simplex-sine-noise
  .canvas
    %h2 Simplex Sine Gradient Noise
    %canvas#simplex-sine-gradient-noise
  .canvas
    %h2 Wood
    %canvas#wood
  .canvas
    %h2 Splatter
    %canvas#splatter
  .canvas
    %h2 Fractal Simplex Sine Gradient Noise
    %canvas#fractal-simplex-sine-gradient-noise