!!! 5
%html
%head
  %meta{charset: 'UTF-8'}
  %title OAlpha Validator Check
  %link{rel: 'stylesheet', href: 'lib/css/normalize.min.css'}
  %link{rel: 'stylesheet', href: 'oa-validator.check.min.css'}
%body
  = "###body###"
  %script{src: 'lib/js/decimal.min.js'}
  %script{src: 'lib/js/angular.min.js'}
  %script{src: 'lib/js/angular-messages.min.js'}
  %script{src: 'oa-util.min.js'}
  %script{src: 'oa-validator.min.js'}
  %script{src: 'oa-validator.check.min.js'}
