!!! 5
%html
%head
  %meta{charset: 'UTF-8'}
  %title Fractal Generator
  %link{rel: 'stylesheet', href: '../lib/css/normalize.min.css'}
  %link{rel: 'stylesheet', href: '../lib/css/jquery-ui.black-tie.min.css'}
  %link{rel: 'stylesheet', href: 'style.css'}
%body
  = "###marker###"
  %script{src: '../lib/js/decimal.min.js'}
  %script{src: '../lib/js/fontawesome-all.js'}
  %script{src: '../lib/js/jquery.min.js'}
  %script{src: '../lib/js/jquery-ui.min.js'}
  %script{src: '../lib/js/angular.js'}
  %script{src: '../lib/js/angular-messages.js'}
  %script{src: 'script.js'}
