!!! 5
%html
%head
  %meta{charset: 'UTF-8'}
  %title OAlpha GLSL Noise Check
  %link{rel: 'stylesheet', href: 'lib/css/normalize.min.css'}
  %link{rel: 'stylesheet', href: 'oa-gl-noise.check.css'}
%body
  = "###body###"
  %script{src: 'lib/js/decimal.min.js'}
  %script{src: 'lib/js/angular.js'}
  %script{src: 'lib/js/angular-messages.js'}
  %script{src: 'lib/js/jquery.min.js'}
  %script{src: 'oa-webgl-helpers.js'}
  %script{src: 'oa-gl-noise.js'}
  %script{src: 'oa-gl-noise.check.js'}
