!!! 5
%html
%head
  %meta{charset: 'UTF-8'}
  %title OAlpha Util Check
  %link{rel: 'stylesheet', href: 'lib/css/normalize.min.css'}
  %link{rel: 'stylesheet', href: 'lib/css/jquery-ui.black-tie.min.css'}
  %link{rel: 'stylesheet', href: 'oa-util.check.css'}
%body
  = "###body###"
  %script{src: 'lib/js/decimal.min.js'}
  %script{src: 'lib/js/angular.js'}
  %script{src: 'lib/js/angular-messages.js'}
  %script{src: 'oa-util.js'}
  %script{src: 'oa-util.check.js'}
